# OS
.DS_Store

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
public/
nbproject/

/node_modules/
/npm-debug.log.*
/dist/
/src/client.config.json
/styleguide/
/docs/

partials/structure/stylesheet.html
